#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
#banner .text h1{
    font-size: 56px;
    font-weight: 600;
    margin: 0;
    font-family: 'Quicksand';
}
#banner .text p{
    font-size: 20px;
    font-weight: 350;
}
#banner .text button{
    color: white;
    background-color: black;
    border: none;
    padding: 12px 53px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
}