footer{
    background-color: #01ACFD;
    color: white;
    font-family: 'Quicksand';
    padding-top: 100px;
    padding-bottom: 100px;
}
footer h2, p, h3{
    font-family: 'Quicksand';
}
footer .footer_container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 100px;
}
footer .footer_container .item1 .logo{
    display: flex;
}
footer .footer_container .item1 .logo h2{
    font-size: 42px;
    margin: 10px 0 0 10px;
}
footer .footer_container .item1 p{
    font-size: 20px;
}
footer .footer_container .item2 h3{
    font-weight: 200;
    cursor: pointer;
}
footer .footer_container .item3 img{
    cursor: pointer;
}