#stories{
    background: linear-gradient(#FFFFFF, #F9E0B4), url('../assets/curriculum/bg.png');
    margin-bottom: 100px;
}
#stories h2{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Quicksand';
    padding: 50px 0 25px 0;
}
#stories .story_card_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
#stories .story_card_container .story_card_item{
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
}
#stories .story_card_container .story_card_item .text{
    padding: 0 10px;
}
#stories .story_card_container .story_card_item:nth-child(1) .text{
    padding: 37px 41px;
}
#stories .story_card_container .story_card_item .text h4{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Quicksand';
}
#stories .story_card_container .story_card_item .text h5{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Quicksand';
}
#stories .story_card_container .story_card_item .image img{
    width: 100%;
}
#stories .story_card_container .story_card_item:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#stories .button{
    display: flex;
    justify-content: center;
    padding: 50px;
}
#stories .button button{
    color: white;
    background-color: black;
    border: none;
    padding: 12px 53px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
}
#stories .button button:hover{
    cursor: pointer;
}